/*
 * copy to ~/.conifg/gtk-3.0
 * reduces the size of the titlebar in gnome 3.20
 */
.default-decoration {
    min-height: 0; /* let the entry and button drive the titlebar size */ 
    padding: 2px
}

.default-decoration .titlebutton {
    min-height: 26px; /* tweak these two props to reduce button size */
    min-width: 26px;
}
